body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.we {
    width: 250px;
}

.wee {
    width: 50px;
}

.line {
    text-decoration: none;
}

.layer {
    
    position: absolute;
    inset: 7px;
    background-color: #f9f6f6ca;
    top: 120%;
    transition: .5s;


}

.meal:hover .layer {
    top: 0;
}